body{
    background-color: rgb(182, 174, 163);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(13, 13, 14);
}
main{
    box-shadow: 1OPX;
    background-color: black;
    color: white;
}